*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* .body{
    background-image: url("../../Assets//Corrosalbg.jpg");
    width:100%;
    height:100vh;
    background-size: cover !important;
} */
.landingpageimg img{

    max-width: 100%;
    max-height:100vh;
    position: absolute; 
    background-size: cover !important;
    top:9%;
    /* margin-bottom: 51%; */
}
.corrosalpagecontent1 p{
    color:#fff;
    position: absolute;
    top:23%;
    display: flex !important;
    flex-direction: column!important;
    align-items:center!important;
    justify-content:center;
    font-size:50px;
    font-weight:500;
}
.corrosalpagecontent2 h6{

    color: #fff;
    
    position: absolute;
    top:25%;
    display: flex !important;
    flex-direction: column!important;
    align-items:center!important;
    justify-content:center;
    font-size:20px;

}
.corrosalpagecontent2 p{
    color:#fff;
    position: absolute;
    top:38%;
    display: flex !important;
    flex-direction: column!important;
    align-items:center!important;
    justify-content:center;
    font-size:20px;
    font-weight:500;
}

.qubecafeteria2 h2{
    color:#fff;
    position: absolute;
    top:35%;
    display: flex !important;
    flex-direction: column!important;
    align-items:center!important;
    justify-content:center;
    font-size:2rem;
    font-weight:500;
}
