*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.Container1{
  
    min-height: 100vh;
    min-width: 100%;
    background-size: cover !important;
    display:flex;
    justify-content: center;
    align-items:center;
    background:linear-gradient(to right, #3f5efb,#fc466b);
    top: 11%;

}

.loginform{

    width:25rem;
    height:28rem;
    display:flex;
    flex-direction:column;
    background:(255,255,255,0.06);
    box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
    border-radius:30px;
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);
    margin-top: 20%;
}
.loginform h1{
    text-align:center;
    font-size:30px;
    text-shadow:2px 2px 4px rgba(0,0,0,.2);
    letter-spacing:3px;
    margin-top:5%;
    margin-bottom:5%;
    color:#fff;
    opacity:.8;
}
.loginform .input-box{
    font-size:20px;
    color:#fff;
    margin-left:10%;
    opacity: .8;
    text-shadow:2px 2px 4px rgba(0,0,0,.2);
}
.loginform ::placeholder{
   color:black;
   font-size:14px;
}
.loginform input{
    width:80%;
    margin:5% auto;
    border:none;
    outline:none;
    background: transparent;
    color:#fff;
    border-bottom:1px solid rgba(255,255,255,0.6);
    opacity: .8;
}
.loginform button{
    width:50%;
    margin:3% auto;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    font-size:15px;
    opacity: .8;
    background: rgba(255,255,255,0.6);
    padding:10px 30px;
    border:none;
    outline:none;
    border-radius:30px;
    text-shadow:2px 2px 4px rgba(255,255,255,0.2);
    box-shadow:3px 3px 5px rgba(31,38,135,.37);
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);

}
.loginform .forgot a{
    font-size:12px;
    display:flex;
    text-align:center;
    align-items:center;
    justify-content: center;
    color:#fff;
    opacity: 0.7;
}
.loginform .signup p  {
    font-size:14px;
    display:flex;
    text-align:center;
    align-items:center;
    justify-content: center;
    color:#000;
   
    margin-top: 10px;
}
.loginform .signup a{
    color:#fff;
    display:flex;
    border:none;
    outline:none;
}



























































