*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.Container3{
    min-height: 100vh;
    min-width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    /* background:linear-gradient(#e66465, #9198e5); */
    background:linear-gradient(to right,brown,wheat);
    

}
.forgotpage{
    width:20rem;
    height:32rem;
    display:flex;
    flex-direction:column;
    background:(255,255,255,0.06);
    box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
    border-radius:30px;
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);
    margin-top: 5%;
}
.forgotpage h1{
    text-align:center;
    font-size:30px;
    text-shadow:2px 2px 4px rgba(0,0,0,.2);
    letter-spacing:1.6px;
    margin-top:5%;
    margin-bottom:5%;
    color:#000;
    opacity:.8;
}
.forgotpage .input-box{
 
    color:#000;
    margin-left:10%;
    opacity: .8;
    text-shadow:2px 2px 4px rgba(0,0,0,.2);
}
.forgotpage ::placeholder{
   color:#000;
   font-size:14px;
}
.forgotpage input{
    width:80%;
    margin:5% auto;
    border:none;
    outline:none;
    background: transparent;
    color:#000;
    border-bottom:1px solid rgba(255,255,255,0.6);
    opacity: .8;
}
.forgotpage button{
    width:50%;
    margin:3% auto;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    font-size:15px;
    opacity: .8;
    background: rgba(255,255,255,0.6);
    padding:10px 30px;
    border:none;
    outline:none;
    border-radius:30px;
    text-shadow:2px 2px 4px rgba(255,255,255,0.2);
    box-shadow:3px 3px 5px rgba(31,38,135,.37);
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);

}
.forgotpage .forgot a{
    font-size:12px;
    display:flex;
    text-align:center;
    align-items:center;
    justify-content: center;
    color:#000;
    opacity: 0.7;
}
.forgotpage .login p  {
    font-size:14px;
    display:flex;
    text-align:center;
    align-items:center;
    justify-content: center;
    color:#000;

    margin-top: 10px;
}
.forgotpage .login a{
    color:#000;
    display:flex;
    border:none;
    outline:none;
}



























































