*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.entirenavbar{
    display:flex;
    background-color:#fff;
     width:100%;
     height:70px;
     position:fixed;
     z-index:11111;
   
   
}
.wholenavbar ul{
    display:flex;
    font-weight:400;
    margin-left: 42rem;  
} 
.wholenavbar li{
    padding-left:50px;
  
    
}
.wholenavbar  a{
    color:#000 !important;

    font-weight:600;
    


}
.navlogoimg a {
  margin-left: 80px;
}
.loginsignup a{
    text-decoration: none !important;
    padding:10px 20px !important;
    background-color:#000;
    margin-left: 0px;
    color:#fff;
    border-radius:8px;


 
}
.loginsignup p{
    padding-left: 30%;
    padding-top: 20px;


}